body {
  margin-top: 20px;
  background: #101010;
  color: #F7F7F7;
}

.todo-list {
  margin: 10px 0;
}
.todo-list .todo-item {
  padding: 15px;
  margin: 5px 0;
  border-radius: 0;
  color: #101010;
}

div.checker {
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
}
div.checker input {
  width: 18px;
  height: 18px;
}

.done {
  text-decoration: line-through;
}